.Animate-sidebar {
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
    background-color: aquamarine;
}

.Animate-sidebar-hidden {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}
.job-width{
    width: 900px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
  }
  
  .overlay.active {
    display: block;
  }
  